header{
    text-align: center;
    background: url("../Assets/Background.png");
    background-size: cover;
}
ul{
    padding: 10px;
    background: rgba(0,0,0,0.5);
}
li{
    display: inline;
    padding: 0px 10px 0px 10px;
}
a{
    color: white;
}
h1{
    font-size: 80px;
    color: white;
}
img{
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 20px;
}
article{
    max-width: 500px;
    padding: 20px;
    margin:0 auto; 
}
@media(max-width:500px)
{
    body{
        background: red;
    }
    h1{
        font-size: 36px;
        color: Blue;
    }
    li{
        display: block;
        padding: 5px;
    }
    ul{
        padding: 10px;
        background: rgba(0,0,0,0.5);
    }
}